---
import * as echarts from 'echarts';
import type { ChartOption } from '../types/ChartOption';

  // const resp = await fetch('http://localhost:8080/grafica/votos');
  // const dataTemp: ChartOption = await resp.json(); // Convierte el body en un objeto JavaScript
  // const div = document.getElementById("chart-container");
  // console.log("Elemento encontrado:", div);
  // const myChart = echarts.init(div);
  // myChart.setOption(dataTemp);
  // window.addEventListener('resize', myChart.resize);
      
---
<div id="chart-container" class="align-middle inline-block min-w-full shadow " style="width: 600px; height: 400px;"></div>

<script src="https://cdn.jsdelivr.net/npm/echarts@5"></script>
<script type="text/javascript">
 window.onload = function () {
  obtenerDatos();
};

function obtenerDatos() {
  var dom = document.getElementById('chart-container');
  var myChart = echarts.init(dom, 'dark', {
    renderer: 'svg',
    useDirtyRect: false
  });

  fetch('http://localhost:8080/grafica/votos')
    .then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.json(); // Convertimos la respuesta en JSON
    })
    .then(data => {
      myChart.setOption(data); // ✅ Pasamos los datos a ECharts
      window.addEventListener('resize', myChart.resize);
    })
    .catch(error => {
      console.error('Error en la petición:', error);
    });
}
</script>


  