<header class="flex justify-between items-center py-2 w-[410px]">
  <img  class="rounded-full w-30 h-10" 
    src="/src/assets/eurovision-2024.jpg" alt="Eurovision foto"/>

    <nav class="flex flex-row gap-x-10 opacity-80">
      <a href="/">Home</a>
      <a href="/votacion">Votacion</a>
      <a href="/resultados">Resultado</a>
  </nav>
</header>