---
import { type VotosResponse} from './types/VotosResponse';

  const resp = await fetch('http://localhost:8080/listar')
  const votos = await resp.json()
  console.log(resp);
  console.log(votos);
  //<img class="rounded-xl w-10 h-2 " src="../assets/{votos.bandera}"/>
---

<div>
 {
  votos.map((voto) => 
    <div class="p-4 bg-white rounded-lg shadow-md">
      
      <p class="text-gray-500">{voto.nombre}</p>
    </div>
  )
 }
</div>
