---

import Header from '../components/Header.astro';
import '@fontsource-variable/onest';
import ThemeToggle from '../components/ThemeToggle.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
    <div class="fixed top-4 right-4">
      <ThemeToggle />
    </div>
		<main>
			<slot/>
		</main>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
	}
	html {
		font-family: system-ui;
		background: #13151a;
		background-size: 100%;
	}
	
	body{
		display: flex;
		justify-content: center;
		font-family: 'Onest Variable', sans-serif;
	}
</style>
